.git
.DS_Store
.cache
.eslintcache
*.lcov
*.tgz
*.tsbuildinfo
coverage
data
dist
logs
node_modules
out
report.*.*.*.*.json

.env
.env.development.local
.env.local
.env.production.local
.env.test.local
